body{
    background-color: rgba(255, 255, 255, 0.7);
}

.section-one{
    margin: 10%;
}

.heading{
    /* size: 10px; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.support{
    font-family: 'Poppins', sans-serif;

}

.the-forms{
    margin: 10%;
}